.register-container{
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    align-items: center;
    border-radius: 10px;
    padding: 32px 48px; 
    margin: 5px;
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

.register-container > h1{
    margin-bottom: 20px;
}

.register-container > form{
    display: flex;
    flex-direction:column;
    gap: 30px;
}

.register-container div{
    display: flex;
    flex-direction: column;
}

.register-container input{
    width: 100%;
    font-size: 30px;
    padding: 5px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;

}

.register-container input::placeholder{
    font-size: 20px;
    font-style: italic;
}

.register-container button{
    font-family: "Poppins", serif;
    background-color: hsl(133, 68%, 46%);
    border: none;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin: 10px 0;
}